@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    font-family: '游明朝';
}

header{
    background-image: url('../images/image\ 3.JPG');
    display: flex;
    padding-right: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    padding-top: 20px;
}

header a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.header_title{
    display: flex;
}

.header_title img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.header_title a{
    margin-left: 30px;
    padding-bottom: 15px;
}

.header_title h1{
    margin-left: 30px;
}

.header_nav{
    margin-left: 400px;
    margin-top: 25px;
}

.header_nav li {
    width: 100px;
    display: inline-block;
    list-style-type: none;
    position: relative;
}

.header_nav a {
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.header_nav li:hover ul {
    display: block;
}

.header_nav ul {
    margin: 0px;
    padding: 0px;
    display: none;
    position: absolute;
}

.header_nav ul li {
    width: 100px;
}

.header_nav ul li a {
    line-height: 35px;
    text-align: center;
    padding-left: 5px;
    font-weight: normal;
    transition: background-color 0.5s;
}

.header_nav ul li a:hover {
    background-color: rgb(238, 255, 0);;
    color: black;
}

.header_nav2{
    margin-left: 20px;
    margin-top: 25px;
}

.header_nav2 li {
    width: 100px;
    display: inline-block;
    list-style-type: none;
    position: relative;
}

.header_nav2 a {
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.header_nav2 li:hover ul {
    display: block;
}

.header_nav2 ul {
    margin: 0px;
    padding: 0px;
    display: none;
    position: absolute;
}

.header_nav2 ul li {
    width: 150px;
}

.header_nav2 ul li a {
    line-height: 35px;
    text-align: center;
    padding-left: 5px;
    font-weight: normal;
    transition: background-color 0.5s;
}

.header_nav2 ul li a:hover {
    background-color: rgb(238, 255, 0);;
    color: black;
}

.header_nav3 {
    font-weight: bold;
    margin-top: 30px;
    margin-left: 50px;
}

footer{
    background-color: black;
    text-align: center;
    position: fixed;
    left: 0;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
}

footer p {
    color: white;
    font-size: 20px;
    text-align: center;
}

.user_search {
    text-align: center;
    margin-top: 150px;
}

.button1 {
    size: 40px;
    background-color: aqua;
    font-family: '游明朝';
    font-size: 15px;
    border-radius: 30px;
    border: none;
    width: 150px;
    height: 30px;
    margin-top: 30px;
    transition: background-color 0.5s;
}

.button1:hover {
    background-color: rgb(238, 255, 0);
    font-weight: bold;
}

table{
    margin: auto;
}

table, th, td{
    border: 2px solid rgb(30, 231, 167);
}

.user_list{
    text-align: center;
    margin-top: 170px;
}