<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{url_for('static', filename='favicon/book.ico')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='/css/user_data.css')}}">
  <title>ユーザー情報</title>
</head>
<body>
  <header>
    <div class="header_title">
      <a href="{{url_for('userhome')}}"><img src='../static/images/image 2.png' alt='図書館'></a>
      <h1>ユーザー画面</h1>
    </div>
    <ul class="header_nav">
      <li><a href="#">一覧</a>
        <ul>
          <li><a href="{{url_for('bookallU')}}">図書一覧</a></li>
          <li><a href="{{url_for('lendlist')}}">貸出一覧</li>
        </ul>
      </li>
    </ul>
    <ul class="header_nav2">
      <li><a href="#">ユーザー</a>
        <ul>
          <li><a href="{{url_for('user_search')}}">ユーザー検索</a></li>
          <li><a href="{{url_for('user_update')}}">ユーザー編集</li>
          <li><a href="{{url_for('user_delete')}}">アカウント削除</li>
        </ul>
      </li>
    </ul>
    <div class="header_nav3">
      <a href="{{url_for('adminlogout')}}">ログアウト</a>
    </div>
  </header>

  <div class="user_list">
    <h1>ユーザー情報</h1>
    <table class="user_all">
      <thead>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users%}
        <tr>
          <td>{{user[0]}}</td>
          <td>{{user[1]}}</td>
          <td>{{user[2]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <footer>
    <div class="wrapper">
      <p><small>&copy; 2023 Library@Morijyobi</small></p>
    </div>
  </footer>
</body>
</html>